# Kafka
KAFKA_BOOTSTRAP_SERVERS=kafka:9092

# PostgreSQL
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# Databases por serviço
POSTGRES_DB_PRODUCER=db_producer
POSTGRES_DB_BILLING=db_billing
POSTGRES_DB_ANALYTICS=db_analytics
POSTGRES_DB_INVENTORY=db_inventory
POSTGRES_DB_NOTIFICATION=db_notification
